<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-danger">
                        <a routerLink = "../addblog">Add Blog</a>
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row view-group">
        <div class="item col-xs-4 col-lg-4" *ngFor="let blog of blogs;">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        {{blog.blogTitle}}</h4>
                    <p class="group inner list-group-item-text">
                        {{blog.blogDescription}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-danger" (click)= DeleteBlog(blog)>Delete Blog</a>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" routerLink = "../editblog" (click)= EditBlog(blog)>Edit Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>